<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
     <th:block layout:fragment="content">
       	<link th:href="@{/css/board/detail.css}" rel="stylesheet" type="text/css">
       	<section>	
		<div id="section_wrap">
			<div class="word">
				<h3>게시글 상세 보기</h3>
			</div>
			<div class="board_detail">
				<ul>
					<li>
						<img th:src="@{'/boardUploadImg/'+${dto.new_thumbnail}}"/>
						<a th:text="${dto.ori_thumbnail}" 
						th:href="@{/download/{no}(no=${dto.board_no})}"
						style="text-decoration:underline;">이미지 다운로드</a>
					</li>
					<li>
						<table>
							<tr>
								<td>게시글 제목</td>
								<td th:text="${dto.board_title}"></td>
							</tr>
							<tr>
								<td>게시글 내용</td>
								<td th:text="${dto.board_content}"></td>
							</tr>
							<tr>
								<td>등록일</td>
								<td th:text="${#temporals.format(dto.reg_date, 'yy-MM-dd')}"></td>
							</tr>
						</table>
					</li>
				</ul>
				
			</div>
			
			<div class="buttons">
				<a class="update_board_button" th:href="@{/board/update/{no}(no=${dto.board_no})}">
					게시글 수정
				</a>
				<a class="delete_board_button" href="">게시글 삭제</a>			
			</div>
		</div>
	</section>
     </th:block>
</html>