<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
     <th:block layout:fragment="content">
       	<link th:href="@{/css/board/list.css}" rel="stylesheet" type="text/css">
       	<link th:href="@{/css/include/paging.css}" rel="stylesheet" type="text/css">
       	<section>
		<div id="section_wrap">
			<div class="word">
				<h3>게시글 목록</h3>
			</div><br>
			<div class="book_list">
				<table>
					<colgroup>
						<col width="10%">
						<col width="40%">
						<col width="20%">
						<col width="20%">
						<col width="10%">
					</colgroup>
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>내용</th>
							<th>작성일자</th>
							<th>상세</th>
						</tr>
					</thead>
					<tbody>
						<!-- 1. resultList.content에서 목록 꺼내기 -->
						<th:block th:if="${#lists.isEmpty(resultList.content)}">
							<tr>
								<td colspan="5">해당하는 게시글이 없습니다.</td>
							</tr>
						</th:block>
						<!-- 2. pageable을 활용해서 게시글 번호 수정 -->
						<th:block th:if="${!#lists.isEmpty(resultList.content)}">
							<tr th:each="board, boardStat : ${resultList.content}">
								<td th:text="${(resultList.pageable.pageSize)*(resultList.pageable.pageNumber)+boardStat.count}"></td>
								<td th:text="${board.board_title}"></td>
								<td th:text="${board.board_content}"></td>
								<td th:text="${#temporals.format(board.reg_date, 'yy-MM-dd')}"></td>
								<td>
									<a th:href="@{/board/{no}(no=${board.board_no})}">상세</a>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<!-- 3. 페이징 관련 로직 추가 -->
				<div class="center" th:if="${!resultList.isEmpty()}">
					<div class="pagination"
						th:with="
						pageNumber = ${resultList.pageable.pageNumber},
						pageSize = ${resultList.pageable.pageSize},
						totalPages = ${resultList.totalPages},
						startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
						tempEndPage = ${startPage + pageSize - 1},
						endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})
						">
						<th:block th:if="${!resultList.first}">
							<a th:href="${resultList.first} ? '#' : @{/board(page=${pageNumber - 1},search_text=${searchDto.search_text},search_type=${searchDto.search_type})}">&lt;</a>
						</th:block>
						<!-- * 컬렉션을 반복하는 것이 아니라 단순히 숫자만 반복할때 #numbers사용-->
						<th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
							<a th:text="${page}" th:href="@{/board(page=${page} - 1,search_text=${searchDto.search_text},search_type=${searchDto.search_type})}" th:classappend="${page == pageNumber + 1} ? 'active'">1</a>
						</th:block>
						<th:block th:if="${!resultList.last}">
							<a th:href="${resultList.last} ? '#' : @{/board(page=${pageNumber + 1},search_text=${searchDto.search_text},search_type=${searchDto.search_type})}">&gt;</a>
						</th:block>
					</div>
				</div>
				<input type="button" value="등록" style="float:right;"
				th:onclick="|location.href='@{/board/create}'|">
			</div>
		</div>
	</section>
     </th:block>
</html>