<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerLayout">
	<link th:href="@{/css/include/common.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/include/header.css}" rel="stylesheet" type="text/css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<header>
		<div id="header_wrap">
			<div class="title">	
				<h3>
					<a class="user" th:href="@{/board}">게시판</a>
				</h3>
			</div>
		</div>
	</header>
</th:block>
</html>