<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navLayout">
	<link th:href="@{/css/include/nav.css}" rel="stylesheet" type="text/css">
	<nav>
		<div id="nav_wrap">
			<div class="menu">
				<ul sec:authorize="isAnonymous()">
					<li>
						<a th:href="@{/login}">로그인</a>
					</li>
					<li>
						<a th:href="@{/join}">회원가입</a>
					</li>
				</ul>
				<ul sec:authorize="isAuthenticated()">
					<li sec:authorize="hasAnyAuthority('USER')">
						<a th:href="@{/chat}">채팅하기</a>						
					</li>
					<li>
						<span sec:authentication="principal.dto.mem_name"></span>님
					</li>
					<li>
						<form method="post" th:action="@{/logout}">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							<input type="submit" value="로그아웃">
						</form>
					</li>
				</ul>
			</div>
			<div class="search" th:if="${searchDto != null}">
				<form th:action="@{/board}" th:object="${searchDto}" method="get">
					<!-- <input type="text" name="board_title" 
					th:field="*{board_title}" placeholder="검색어를 입력하세요"> -->
					<select name="search_type" th:value="${searchDto.search_type}">
						<option th:value="1" th:selected="${searchDto.search_type} == '1'">제목</option>
						<option th:value="2" th:selected="${searchDto.search_type} == '2'">내용</option>
						<option th:value="3" th:selected="${searchDto.search_type} == '3'">제목+내용</option>
					</select> 
					<input type="text" name="search_text" 
					th:field="*{search_text}" placeholder="검색어를 입력하세요">
					<input type="submit" value="검색">
				</form>
			</div>
			<div class="search" th:if="${searchDto == null}">
				<form th:action="@{/board}" method="get">
					<!-- <input type="text" name="board_title" placeholder="검색어를 입력하세요"> -->
					<select name="search_type">
						<option th:value="1">제목</option>
						<option th:value="2">내용</option>
						<option th:value="3">제목+내용</option>
					</select> 
					<input type="text" name="search_text" placeholder="검색어를 입력하세요">
					<input type="submit" value="검색">
				</form>
			</div>
		</div>
	</nav>	
</th:block> 
</html>