<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
     <th:block layout:fragment="content">
       	<link th:href="@{/css/member/join.css}" rel="stylesheet" type="text/css">
		<section>
			<div id="section_wrap">
				<div class="word">
					<h3>회원가입</h3>
				</div><br>
				<div class="create_account_form">
					<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
					<form id="memberAddFrm">
						<input type="text" name="mem_id" placeholder="아이디"> <br>
						<input type="password" name="mem_pw" placeholder="비밀번호"> <br>
						<input type="password" name="mem_pw_check" placeholder="비밀번호 확인"> <br>
						<input type="text" name="mem_name" placeholder="이름"> <br>
						<select name="mem_auth">
							<option value="ADMIN">관리자</option>
							<option value="USER">사용자</option>
						</select><br>
						<input type="submit" value="회원가입" onclick="vali_join();"> 
					</form>
				</div>
				<div class="login">
					<a th:href="@{/login}">로그인</a>
				</div>
			</div>
		</section>
		<script>
			const form = document.getElementById("memberAddFrm");
			form.addEventListener('submit', (e)=>{
				e.preventDefault();
				
				// 유효성 검사
				let vali_check = false;
				let vali_text = "";
				
				if(form.mem_id.value == ""){
					vali_text += '아이디를 입력하세요.';
					form.mem_id.focus();
				}else if(form.mem_pw.value == ""){
					vali_text += '비밀번호를 입력하세요.';
					form.mem_pw.focus();
				}else if(form.mem_pw_check.value == ""){
					vali_text += '비밀번호를 입력하세요.';
					form.mem_pw_check.focus();
				}else if(form.mem_pw.value != form.mem_pw_check.value){
					vali_text += '비밀번호가 일치하지 않습니다.';
					form.mem_pw_check.focus();
				}else if(form.mem_name.value == ""){
					vali_text += '이름을 입력하세요.';
					form.mem_name.focus();
				}else{
					vali_check = true;
				}
				
				if(vali_check == false){
					Swal.fire({
						icon : 'error',
						title : '실패',
						text : vali_text,
						//confrimButtonText : 
					}).then((result)=>{
						location.href="/login";
					});
				}else{
					let obj = {};
					const payload = new FormData(form);
					payload.forEach(function(value, key){
						obj[key] = value;
					});
					const jsonData = JSON.stringify(obj);
					
					const csrfToken = document.getElementById("csrf_token").value;
					
					fetch('/join',{
						method : 'post',
						headers : {
							"Content-Type": "application/json;charset=utf-8",
							"Accept": "application/json",
							'X-CSRF-TOKEN': csrfToken
						},
						body : jsonData
					})
					.then(response => response.json())
					.then(data => {
						console.log(data);
					})
					
					}
					
				})
				
		</script>	
     </th:block>
</html>